.slide{
    width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
}
.slide img{
    width: 100%;
    display: none;
}
img.sDisplay{
    display: block;
}
.slide button{
    position: absolute;
    font-size: 2em;
    color: white;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.491);
    border: none;
    margin: 5px;
    cursor: pointer;
    padding: 10px 15px;
    top: 50%;
}
#b1{
    left: 0;
}
#b2{
    right: 0;
}
button:hover{
    background-color: hsla(0, 0%, 10%, 0.491);
}
