#con1{
    border: 1px solid;
}
#con1 p{
    background-color: yellow;
}
#con2{
    border: 1px solid;
}
#con2 > p {
    background-color: green;
}
#con3{
    border: 1px solid;
}
#con3 ~ p{
    background-color: pink;
}
#con4{
    border: 1px solid;
}
#con4 + p{
    background-color: purple;
}